@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html,body {
    margin: 0; padding: 0;
}

body {
    background-image: url('images/background.png');
    font-family: calibri;
}

header h1 {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

section {
    background-color: white;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}

#guessedNumber {
    margin-top: 10px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #C0C0C0;
}

#guessButton {
    background-color: #000;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

#guessButton:hover {
    border-color: #C0C0C0;
    background-color: #C0C0C0;
    color: white;
    border-radius: 5px;

}

#guessResult {
    display: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}